repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.4
    hooks:
    -    id: ruff
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.11.0'
    hooks:
    -   id: mypy
        args: []
        additional_dependencies:
        - pydantic==2.7.4
        - types-requests
        - types-pytz
        - types-setuptools
        - types-urllib3
        - StrEnum
        - types-pillow
        - types-pyyaml
        - types-pygments
        - types-colorama
        - types-psutil
        - types-pywin32
        - types-tabulate
        - types-tqdm
        - pytest
        - loguru
        - python-dotenv
        - aiohttp
        - horde_safety==0.2.3
        - torch==2.3.1
        - ruamel.yaml
        - horde_engine==2.14.3
        - horde_sdk==0.14.0
        - horde_model_reference==0.8.1
        - semver
