numpy==2.1.1
torch==2.4.0

horde_sdk~=0.14.1
horde_safety~=0.2.3
horde_engine~=2.14.5
horde_model_reference>=0.8.1

python-dotenv
ruamel.yaml
semver

python-Levenshtein

pydantic>=2.7.4
typing_extensions
requests
StrEnum
loguru

babel
