# This is a temporary hack for cloud workers
horde_sdk>=0.7.10
horde_model_reference>=0.5.2
pydantic
# torch>=2.1.0
# xformers>=0.0.19
torchvision
torchaudio
torchdiffeq
torchsde
einops
open-clip-torch
transformers>=4.25.1
safetensors>=0.3.0
pytorch_lightning
pynvml
aiohttp
accelerate
pyyaml
pillow
loguru
GitPython
clip-anytorch
diffusers
omegaconf
psutil
typing-extensions
distro
python-dotenv
strenum
rembg
onnxruntime
# image similarity + face fixer custom nodes
opencv-python
# controlnet custom nodes
opencv-contrib-python
opencv-python
timm==0.9.12
torchvision
scipy
addict
fairscale
scikit-image
mediapipe>=0.9.1.0
unidecode
fuzzywuzzy
strenum
