pytest==8.2.2
mypy==1.10.1
black==24.4.2
ruff==0.5.3
tox~=4.16.0
pre-commit~=3.7.1
build>=0.10.0
coverage>=7.2.7

semver

pytest-cov

babel

types-requests
types-pillow
types-pytz
types-setuptools
types-urllib3
types-pyyaml
types-pygments
types-colorama
types-psutil
types-pywin32
types-tabulate
types-tqdm
