numpy==2.0.0
torch==2.3.1+rocm6.0

horde_sdk~=0.13.1
horde_safety~=0.2.3
horde_engine~=2.13.0
horde_model_reference~=0.7.0

python-dotenv
ruamel.yaml
semver
wheel

python-Levenshtein

pydantic~=2.8.2
typing_extensions
requests
StrEnum
loguru

babel
