pytest==8.1.1
mypy==1.9.0
black==24.4.0
ruff==0.4.1
tox~=4.14.2
pre-commit~=3.7.0
build>=0.10.0
coverage>=7.2.7

semver

pytest-cov

babel

types-requests
types-pillow
types-pytz
types-setuptools
types-urllib3
types-pyyaml
types-pygments
types-colorama
types-psutil
types-pywin32
types-tabulate
types-tqdm
