numpy==2.1.3
torch==2.5.1

horde_sdk~=0.16.0
horde_safety~=0.2.3
horde_engine~=2.17.1
horde_model_reference~=0.9.1

python-dotenv
ruamel.yaml
semver
wheel

python-Levenshtein

pydantic>=2.9.2
typing_extensions
requests
StrEnum
loguru

babel
