numpy==2.1.2
torch==2.4.1

horde_sdk~=0.15.1
horde_safety~=0.2.3
horde_engine~=2.16.0
horde_model_reference~=0.9.1

python-dotenv
ruamel.yaml
semver
wheel

python-Levenshtein

pydantic>=2.9.2
typing_extensions
requests
StrEnum
loguru

babel
