pytest==8.0.1
mypy==1.8.0
black==24.2.0
ruff==0.2.2
tox~=4.13.0
pre-commit~=3.6.2
build>=0.10.0
coverage>=7.2.7

semver

pytest-cov

babel

types-requests
types-pillow
types-pytz
types-setuptools
types-urllib3
types-pyyaml
types-pygments
types-colorama
types-psutil
types-pywin32
types-tabulate
types-tqdm
