--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.1.0

horde_sdk>=0.7.15
git+https://github.com/Haidra-Org/horde-safety@nsfw-checking-and-anime-handling
hordelib>=2.0.2
horde_model_reference

python-dotenv
ruamel.yaml

python-Levenshtein

pydantic
typing_extensions
requests
StrEnum
loguru

babel
