name: Tests

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '**.json'
      - 'tox.ini'
      - '.github/workflows/maintests.yml'
      - '.github/workflows/prtests.yml'
      - '.github/workflows/release.yml'
      - '.pre-commit-config.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r requirements.dev.txt
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Run unit tests
        run: tox -e tests-no-api-calls
